input
  height 44px 
  border 1px solid dark_25
  border-radius 4px
  padding 13px 15px
  width 100%
  font-size 14px
  text-overflow ellipsis
  &:hover,
  &:active,
  &:focus
    border 1px solid dark_50  
    outline: 0 !important
  &::placeholder
    color dark_25 
  &[name="input-dropdown"]
     cursor pointer
     padding-right 36px
.input
  &__area 
    position relative   
  &__icon-down
    cursor pointer
    position absolute
    right 9px
    top 11px
    color dark_50 
    &:hover,
    &:active,
    &:focus 
      opacity 0.5
    &--dark
      color dark_75
  &__select
    width 100%
    position relative  
    &--expanded 
      & .dropdown
        display block
      & input
        border-radius 4px 4px 0 0 
        border 1px solid dark_50
