.range-slider
  font-size 12px
  &__title
    display flex
    justify-content space-between
    margin-bottom 18px
  &__handle
    height 6px
    border 1px solid dark_25 
  &__subtitle
    margin-top 10px  
.noUi-target,
.noUi-handle
  box-shadow none
.noUi-horizontal .noUi-handle
  height 16px
  width 16px
  background green-gradient
  border 2px solid white
  border-radius 50%
  margin-right 10px
  padding-top 2px
  cursor pointer
  &:hover,
  &:active,
  &:focus
    outline none
  &::before,
  &::after
    display none
.noUi-connect
  background green-gradient