mixin rangeSlider()
  .filter__range.range-slider
    .range-slider__title
      h3.range-slider__h3 Диапазон цены
      .range-slider__span#unconstrained-values
    .range-slider__handle#unconstrained
    p.range-slider__subtitle Стоимость за сутки пребывания в номере