round-cell =
  background perple-gradient__25
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
.calendar 
  position: absolute;
  z-index: 100
  top: 75px;
  left: 0;
  width: 100%;
  @media $tablet 
    max-width 320px
.datepicker
  font-family font-Montserrat
  font-size 12px
  font-weight 400
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  color dark_50
  padding 20px
  width 100%
  &--pointer
   visibility hidden
  &--nav-action,
  &--button
    color perple
    &:hover,
    &:active,
    &:focus
      opacity 0.5
      color perple
      background none
  &--buttons,
  &--nav
    border none
  &--button
    font-weight 700
    text-transform uppercase
    justify-content flex-start
  &--button[data-action="apply"]
    justify-content flex-end
  &--nav-title,
  &--nav-title i
    font-family font-Sans
    font-weight 700
    font-size 19px
    color dark_100
    text-transform none
    &:hover,
    &:active,
    &:focus
      background none
  &--nav-title i
    font-family font-Quicksand
  &--day-name
    font-weight 700
    color perple
    text-transform none
  &--cell 
    border-radius: 50%
    &.-range-from-,
    &.-range-to- 
      background perple-gradient__50
      border-radius: 50%;
      border: none;
      color: white
    &.-range-from-::after 
      {round-cell}
      border-radius: 50% 0 0 50%;
    &.-range-to-::before 
      {round-cell}
      border-radius: 0 50% 50% 0;
    &.-current- 
      background: green-gradient
      border-radius: 50%;
      color white
      &.-focus- 
        background: green-gradient
        color white
      &.-in-range- 
        background green-gradient
        color: white
        position: relative;
        &::after 
          {round-cell}
    &.-selected- 
      background: perple-gradient;
      border-radius: 50%;
      position: relative;
      &.-range-from-::after,
      &.-range-to-::before 
        {round-cell}  
      &.-focus- 
        background: perple-gradient
    &.-in-range- 
      background: perple-gradient__25
      &.-focus- 
        background: perple-gradient__50
  &--cell-day        
    &.-other-month- 
      &.-selected- 
        background: perple-gradient
        &.-focus- 
          background: green
      &.-in-range- 
        background: perple-gradient__25
        &.-focus- 
          background: perple-gradient__50
