font-size = 14px
line-height = 24px
font-Montserrat = 'Montserrat', sans-serif
font-Quicksand = 'Open Sans', sans-serif

dark_100 = #1F2041
dark_75 = rgba(31, 32, 65, 0.75)
dark_50 = rgba(31, 32, 65, 0.5)
dark_25 = rgba(31, 32, 65, 0.25)
dark_5 = rgba(31, 32, 65, 0.05)
perple = #BC9CFF
green = #6FCF97
light-grey = #E5E5E5
white = #FFF
perple-gradient = linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)
/*
$desktop = 1280px
$laptop = 1024px
$tablet = 768px
$phone = 480px
$phone-m = 320px*/