extends ../layout/index.pug

block content
  include ../includes/modules/header.pug
  
  main.main
    .intro
      .container
        .intro__content
          .intro__booking-form
            h1.intro__h1 Найдём номера под ваши пожелания
            form.intro__form(action="" method="")
              .intro__block-date
                +dataInput("прибытие", "ДД.ММ.ГГГГ", "date-arrival", "intro__input--date")
                +dataInput("выезд", "ДД.ММ.ГГГГ","date-departure", "intro__input--date")
              .intro__block-guests
                +dataInput("гости", "Сколько гостей","guests","intro__input--guests")
              .intro__select-btn.btn
                a.intro__link подобрать номер
                  i.material-icons.intro__icon-arrow arrow_forward
          .intro__subtitle Лучшие номера для вашей работы,<br> отдыха и просто вдохновения  
  footer.footer
    .container
      .footer-upper
        .footer-upper__info
          +logoGroup("footer-upper__logo")
          p.footer-upper__tagline Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-upper__nav
          mixin footerNav(title, arr)
            .footer-upper__nav-wrap
              h3.footer-upper__nav-h3 #{title}
              ul.footer-upper__nav-list
                each item in arr
                  if block
                    li.footer-upper__nav-item #{item}
                    block
                  else 
                    li.footer-upper__nav-item 
                      a.footer-upper__nav-link(href="#") #{item}
          +footerNav('навигация', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'])
          +footerNav('o нас', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
          +footerNav('Служба поддержки', ['Соглашения', 'Сообщества', 'Связь с нами'])
          +footerNav('Подписка', ['Получайте специальные предложения и новости сервиса'] )
            li.footer-upper__nav-item
              form.footer-upper__nav-form(action="" method="")
                input.footer-upper__nav-input(type="email" placeholder="Email" required)
                span.footer-upper__submit-wrap
                  button.footer-upper__submit-btn(type="submit")
                    i.material-icons.footer-upper__submit-arrow arrow_forward


      //-.footer-lower
          span.page_footer-copyright Copyright © 2018 Toxin отель. Все права зачищены.
          span