extends ../layout/index.pug
include ../includes/modules/dropdown-select-counters.pug
block content
  include ../includes/modules/header.pug
  
  main.main
    .intro
      .container
        .intro__content
          .intro__booking-form
            h1.intro__h1 Найдём номера под ваши пожелания
            form.intro__form(action="" method="")
              .intro__block-date
                  +dataInput("прибытие", "ДД.ММ.ГГГГ", "input-dropdown","start-one "+"intro__input--date")
                  +dataInput("выезд", "ДД.ММ.ГГГГ","input-dropdown", "end-one "+"intro__input--date")
              .intro__block-guests
                - let guestItems = [{title: "Взрослые", count: 0, countWord: "Гости"},{title: "Дети", count: 0, countWord: "Гости"},{title: "Младенцы", count: 0}]
                +dropdownSelect({items: guestItems, withButtons: true, inputTitle: "гости", inputPlaceholder: "Сколько гостей", inputValue: ""})
              +buttons("btn--arrow", "подобрать номер", "rooms-filter.html") 
          .intro__subtitle Лучшие номера для вашей работы,<br> отдыха и просто вдохновения  
  include ../includes/modules/footer.pug