extends ../layout/index.pug
block content
  header.header
    .container 
      .header__content
        .header__logo.logo-group
          a.logo-group__link(href="/")
            +picture("icons", "logo-group")
        nav.header__nav
          ul.header__list
            - let arr = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
              each item in arr
                if (item == arr[1] | item == arr[4])
                  li.header__item
                    a.header__link(href="#") #{item}
                    i.header__dropdown(class="fas fa-angle-down")
                else 
                  li.header__item
                    a.header__link(href="#") #{item}
        .header__buttons
          .header__btn-wrap
            .header__ent-btn.btn
              a.header__ent-link(href="#") войти 
          .header__reg-btn.btn
            a.header__reg-link(href="#") зарегистрироваться 
        .header__buttons--user
          .header__user
            a.header__user--link(href="#") Юлий Цезарь
  main.main
    section.intro
      .wrapper
        .intro_form
          h1.intro_title Найдём номера под ваши пожелания
          form.search_form
      footer.page_footer
        .page_footer-inner
          .wrapper
            .page_footer-social
              .footer_logo
                a.footer_logo-link(href="/")
                  +picture("icons", "logo")
                a.footer_logo-link(href="/")
                  img.footer_logo-pic(src="./imgs/svg/TOXIN.svg" alt="Найдём номера под ваши пожелания")
              p.footer-tagline
                | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .page_footer-bottom
          .wrapper
            span.page_footer-copyright Copyright © 2018 Toxin отель. Все права зачищены.
            span
