extends ../layout/index.pug

block content
  include ../includes/modules/header.pug
  
  main.main
    .registred
      .container
        .registred__wrap
          .registred__window
            h1.registred__h1 Регистрация аккаунта
            .registred__form
            
  include ../includes/modules/footer.pug