extends ../layout/index.pug

block content
  include ../includes/modules/header.pug
  
  main.main
    .registred
      .container
        .registred__wrap
          .registred__window
            h1.registred__h1 Регистрация аккаунта
            form.registred__form(action="" method="")
              .registred__input-name
                +dataInput("", "Имя", "input-name", "signin__input--name")
              .registred__input-surname
                +dataInput("", "Фамилия", "input-surname", "signin__input--surname")
              .registred__input-gender.radio
                input.radio__dot(type="radio" id="choice1"  name="gender" value="male" checked)
                label.radio__label(for="choice1") Мужчина 
                input.radio__dot(type="radio" id="choice2"  name="gender" value="female")
                label.radio__label(for="choice2") Женщина
              .registred__input-birthday
                +dataInput("дата рождения", "ДД.ММ.ГГГГ", "input-surname", "signin__input--surname")
              .registred__input-mail
                +dataInput("данные для входа в сервис", "Email", "signin-email", "signin__input--mail")
              .registred__input-password
                +dataInput("", "Пароль", "password", "signin__input--password")
              .registred__input-toggle.togglebox
                input.togglebox__handle(type="checkbox" id="toggle")
                label.togglebox__label(for="toggle") Получать спецпредложения
            .registred__pay
              +buttons("btn--arrow", "перейти к оплате", "")
            .registred__after
              span.registred__span Уже есть аккаунт на Toxin
              +buttons("btn--border registred__btn-create", "войти", "sign-in.html")
  include ../includes/modules/footer.pug
    