extends ../layout/index.pug
include ../layout/mixins.pug
include ../modules/dropdown-select-counters/dropdown-select-counters.pug
include ../modules/buttons/buttons.pug
include ../modules/input/input.pug
block content
  include ../modules/header/header.pug
  
  main.main
    .intro
      .container
        .intro__content
          .intro__booking-form
            h1.intro__h1 Найдём номера под ваши пожелания
            form.intro__form(action="" method="")
              .intro__block-date
                  +dataInput("прибытие", "ДД.ММ.ГГГГ", "input-dropdown","start-one "+"intro__input--date")
                  +dataInput("выезд", "ДД.ММ.ГГГГ","input-dropdown", "end-one "+"intro__input--date")
              .intro__block-guests
                - let guestItems = [{title: "Взрослые", count: 0, countWord: "Гости"},{title: "Дети", count: 0, countWord: "Гости"},{title: "Младенцы", count: 0}]
                +dropdownSelect(guestItems, true, "гости","Сколько гостей")
              +buttons("btn--arrow", "подобрать номер", "rooms-filter.html") 
          .intro__subtitle Лучшие номера для вашей работы,<br> отдыха и просто вдохновения  
  include ../modules/footer/footer.pug