extends ../layout/layout.pug
include ../layout/mixins.pug
include ../modules/dropdown-select-counters/dropdown-select-counters.pug
include ../modules/buttons/buttons.pug
include ../modules/input/input.pug
include ../modules/calendar/calendar.pug
block head
  title= "Бронирование номерoв в отеле Toxin"  
block content
  include ../modules/header/header.pug

  main.main
    .intro
      .container
        .intro__content
          .intro__booking-form
            h1.intro__h1 Найдём номера под ваши пожелания
            form.intro__form(action="" method="")
              .intro__block-date#dates
                +dataInput("прибытие", "start", "ДД.ММ.ГГГГ", "input__datepickers", "")
                +dataInput("выезд", "end", "ДД.ММ.ГГГГ", "input__datepickers", "")
              .intro__block-guests
                - let guestItems = [{title: "Взрослые", count: 0, countWord: "Гости"},{title: "Дети", count: 0, countWord: "Гости"},{title: "Младенцы", count: 0}]
                +dropdownSelect(guestItems, true, "гости","Сколько гостей")
              +buttons("btn--arrow", "подобрать номер", "rooms-filter.html") 
          .intro__subtitle Лучшие номера для вашей работы,<br> отдыха и просто вдохновения  
  include ../modules/footer/footer.pug