extends ../layout/layout.pug
include ../layout/mixins.pug
include ../modules/buttons/buttons.pug
include ../modules/input/input.pug
block head
  title= "Войти в аккаунт отель Toxin" 
block content
  include ../modules/header/header.pug
  
  main.main
    .signin
      .container
        .signin__wrap
          .signin__window
            h1.signin__h1 Войти
            form.signin__form(action="" method="")
              .signin__mail
                +textInput("", "Email", "signin-email", "signin__input-mail")
              .signin__password
                +textInput("", "Пароль", "password", "signin__input-password")
            .signin__btn-enter
              +buttons("btn--arrow", "войти", "index.html")  
            .signin__after
              span.signin__span Нет аккаунта на Toxin?
              +buttons("btn--border signin__btn-create", "создать", "registred.html")
  include ../modules/footer/footer.pug
  