.hamburger
  &__menu 
    width 40px
    height 30px
    position: relative
    cursor: pointer
    display none
    color white
    border none
    @media screen and (max-width: 851px)
      display block
  &__icon
    margin 2px 0 0