.display-rooms
  width 100%
  padding 30px 0 0 60px
  @media $phone
    padding 0
  @media screen and (min-width: 481px) and (max-width: 992px)
    padding 20px 0 0 10px
  &__h1
    @media $laptop
      text-align center
    >.quicksand
      font-family font-Quicksand 
    
