.footer
  padding-top 100px
  @media $tablet
    padding 120px 0
.footer-upper
  padding 0 0 81px
  border-bottom 1px solid dark_25
  @media $tablet
    border-bottom none
    padding 0 
  &__wrap
    display flex
    @media $tablet
      justify-content center
  &__info
    display flex
    flex-direction column
    max-width 260px
    @media $desktop
      min-width 260px
  &__tagline
    margin-top 10px
    color dark_75
    @media $tablet
      display none
  &__nav
    display flex
    justify-content space-between
    @media $tablet
      display none
    @media $desktop
      flex-wrap wrap
  &__nav-wrap
    margin-left 40px
    flex 1
    &:last-child
      min-width 260px
  &__nav-h3
  &__nav-item
    margin-bottom 14px
  &__nav-link
    &:hover,
    &:active,
    &:focus 
      color dark_75
  &__nav-input
    width 100%
    margin-top 8px
    color dark_75
    @media $laptop
      max-width 70%
  &__submit-wrap
    position relative
  &__submit-btn
    position absolute
    right 4px
    top -4px
    background none
    border none
  &__submit-arrow
    color perple
.footer-lower 
  &__wrap
    display flex
    justify-content space-between
    padding 25px 0 18px
    @media $tablet
      flex-direction column
      align-items center
      padding 15px 0 
  &__copyright
    color dark_75
    @media $tablet
      text-align center
  &__social
    display flex
    margin 0 1px 1px 0
    @media $tablet
      margin 25px 0
  &__list
    margin-left 23px
    @media $tablet
      margin 0 11px
  &__link
    font-size 24px
    background -webkit-gradient(linear,left top,left bottom,from(#bc9cff),to(#8ba4f9))
    background: -o-linear-gradient(top,#bc9cff 0,#8ba4f9 100%)
    background: linear-gradient(180deg,#bc9cff,#8ba4f9)
    -webkit-background-clip text
    background-clip: text
    -webkit-text-fill-color: rgba(0,0,0,0)
    &:hover,
    &:active,
    &:focus 
      opacity .7
