.header
  &__content
    height 70px
    width 100%
    display flex
    justify-content space-between
    flex-wrap wrap
    align-items center
  &__logo
    margin-top 2px
  &__nav
    display flex
  &__list 
    display flex
    font-size font-size
    padding-top 5px
  &__item
    margin-right 20px
  &__dropdown
    color dark_50 
    margin-left 7px
    margin-right 7px
    font-size 13px
  &__buttons
    display flex   
    &--user
      display none
  &__ent-btn
    height 30px
    width 84px
    background white 
    margin 2px 22px 0 0
    &::before
      content ""
      position absolute
      z-index -1
      top 0
      right 0
      bottom 0
      left 0
      margin -2px
      border-radius inherit
      background perple-gradient
  &__reg-btn 
    width 196px
    height 34px
  &__ent-link
    color perple !important
  &__btn-wrap
    &:hover,
    &:active,
    &:focus
      opacity 0.5

  