.header
  box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
  z-index: 5;
  position sticky
  top: 0;
  width 100%
  background white
  &__content
    height 70px
    width 100%
    display flex
    justify-content space-between
    flex-wrap wrap
    align-items center
  &__logo
    padding-top 4px
  &__nav
    display flex
    @media screen and (max-width: 851px)
      display none
  &__list 
    display flex
    font-size font-size
    padding-top 5px
  &__item
    margin-right 20.6px
    position relative
  &__link,
  &__sub-link
    &:hover,
    &:active,
    &:focus
      color dark_75
  &__icon-down
    float right
  &__buttons
    display flex
    justify-content space-between 
    >.btn
      height 34px 
      &:first-of-type
        margin-right 20px 
    &--user
      display none
  &__menu-head
    display flex
    justify-content space-between
  &__close-button
    font-size 40px
    background: perple-gradient
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  &__sidebar
    position absolute
    top 0
    left 0
  &__side-menu,
  &__overlay
    position fixed
    height 100%
    background-color white
    display none
  &__side-menu
    z-index 20
    width 60%
    padding 20px
    @media $phone
      width 100%
  &__overlay
    z-index 10
    width 100%
    background-color rgba(0, 0, 0, .5)
  &__sidebar-nav 
    >.header__buttons
      display flex
      justify-content space-around
      >a
        margin 10px 0
    >ul 
      display flex
      flex-direction column
      >li
        margin 5px 0
        >a 
          text-transform uppercase
          font-weight 700
          >i 
            float left  
  &__sidebar--visible
    >.header__overlay, .header__side-menu
      display block  
  &__sub-list
    position absolute
    top 25px
    left 10px
    min-width 140px
    padding 10px
    background white
    border-radius 4px
    box-shadow 0px 10px 20px rgba(31, 32, 65, 0.05)
    display none
  &__sub-item
    border-bottom 1px solid dark_5
    line-height 20px
    margin-bottom 5px
  &__sub-item:last-of-type  
    border-bottom none
    margin-bottom 0px
  &__sidebar-nav .header__sub-list
    position relative
    top 5px
    left 5px
    max-width 200px
    box-shadow none
    text-transform uppercase
    font-weight 700