.intro
  background url('/assets/img/background/intro-main.png') -45px -70px no-repeat 
  height 830px
  &__content
    padding-top 70px
    height 830px
    position relative
  &__booking-form
    height 374px
    width 380px
    border-radius 4px
    background white
    box-shadow 0px 0px 25px 0px #000000 20% 
    padding 40px 30px 0
  &__h1
    margin-bottom 16px 
  &__block
    &-date
      display flex
      justify-content space-between
      margin-bottom 18px
    &-guests
      margin-bottom 30px
  &__input
    height 44px 
    border 1px solid dark_25
    border-radius 4px
    padding 0px 0 0 14px
    &[placeholder]
      font-family font-Montserrat
      font-size 14px
      color dark_75
    &--date
      width 150px
    &--guests
      width 100%
  &__title
    font-size 12px
    font-weight 700
    color dark_100
    text-transform uppercase 
  &__subtitle
    position absolute
    bottom 20px
    right -7px
    text-align right 
    color dark_75
    