input
  height 44px 
  border 1px solid dark_25
  border-radius 4px
  padding 0px 0 0 14px
  width 100%
  &:hover,
  &:active,
  &:focus 
    border 1px solid dark_50
  &::placeholder
    color dark_25
  &:hover,
  &:active,
  &:focus 
    outline: 0 !important
.dropdown
  position relative
  &__btn
    position absolute
    right 4px
    top -4px
    background none
    border none
    color dark_50