.details
  border-bottom 1px solid dark_25
  &__intro
    height 485px
    display flex
    flex-direction column
    flex-wrap wrap
    margin 0
    max-width: 100vw;
    overflow hidden
  &__gallery
    &--main
      height 100%
      width 68.5vw 
    &--up,
    &--low
      height 50%
    &--main,
    &--up,
    &--low
      overflow hidden
      margin -0.1px
      >img 
        width 100%
        height 100%
        object-fit cover
  &__columns
    padding 70px 0
    display flex
    &-right
      width 38.8%
      display flex
      justify-content flex-end
    &-left
      width 61.2%
  &__boost,
  &__end
    display flex
  &__rules,
  &__cancel
    width 50%
  &__end
    padding-top 17px
  &__rules
    &-h2
      padding-left 20px
    &-list 
      padding-top 7px
    &-item
      position relative
      padding-left 20px
      margin-top 10px
      &:before
        content ""
        position absolute 
        top 7px
        left 0px
        width: 10.43px;
        height: 10px;
        border-radius 50%
        background dark_25
  &__cancel
    padding-left 7px
    &-p
      margin-top 17px
.intelligence
  width 50%
  &__list 
    max-width 280px
  &__item
    border-bottom 1px solid dark_10
    padding-bottom 6px
    display flex
    margin-top 20px
    &:last-of-type
      border-bottom none
  &__icon
    font-size 48px
    background perple-gradient
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  &__descr
    margin-left 10px
    &-h3
      text-transform none
      font-size 14px
      margin-bottom -14px

  
.reviews
  padding-top 13px
  &__titie
    display flex
    justify-content space-between
  &__quantity
    padding-top 3px
  &__item
    display flex
    justify-content space-between
    padding-top 17px
    margin-bottom 7px
  &__avatar
    width 58px
    >img
      position relative
      bottom 11px
      right 21px
  &__like
    display flex
    align-items center
    position relative
    bottom 35px
    left 2px
    background white
    width: 40px;
    height: 20px;
    border-radius 10px
    border: 1px solid dark_25
    cursor pointer
    color dark_25
    &--active
      color perple
      border solid 1px transparent
      background linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), perple-gradient
      background-origin border-box
      background-clip content-box, border-box
      box-shadow 0px 1000px 0px #fff inset
  &__icon
    font-size 10px
    padding-left 6px
    margin-right 5px
  &__like-num
    font-size 10px
  &__name
    text-transform none
    font-size 14px
  &__p
    margin 10px 0 0
.total
  width: 380px;
  height: 511px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding 28px 29px 0 30px
  &__identi
    display flex
    justify-content space-between
    align-items center
  &__room
    font-family font-Quicksand
    color dark_100
    font-size 14px
    font-weight 700
    text-transform: uppercase
    &-num
      font-size 24px
    &-status
      font-family font-Montserrat
      color perple
      font-size 12px
      margin-left 7px
    &-cost
      font-size 12px
      padding-top 4px
    &-price
      font-weight 700
      font-size 14px
  &__date
    display flex
    justify-content space-between  
    margin-bottom 16px
  &__input--date
    width 150px 
    font-size 14px
  &__input--guests
    font-size 14px
  &__guests
    margin-bottom 12px
  &__count
    margin-bottom 14px
    &-table
      width calc(100% + 4px)
      margin-left -2px
    &-td
      padding 7px 0
      line-height 18px
      &:first-of-type
        position relative
      &:last-of-type
        display flex
        justify-content flex-end
    &-tfoot
      font-size 19px
      color dark_100
      font-weight 700
      >.total__count-tr
        >.total__count-td
          padding-top 24px
          &:first-of-type
            font-family font-Sans
          &:last-of-type
            font-family font-Quicksand
    &-dashed 
      width 72.5%
      height 15px
      float right
      border-bottom 1px dotted dark_25
.hint
  width 20px
  height 20px
  border 1px solid dark_25
  border-radius 50%
  color dark_25
  position absolute
  top 6px
  right 0
  cursor pointer
  &:hover,
  &:active,
  &:focus
    color perple
    border solid 1px transparent
    background linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), perple-gradient
    background-origin border-box
    background-clip content-box, border-box
    box-shadow 0px 1000px 0px #fff inset
    > .hint__buble
      display block
      position absolute
      background white
      color dark_50
      text-align center
      padding 6px
      bottom 28px
      right -17px
      display block
      min-width 160px
      height auto
      border: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
      border-radius 4px
      &:before
        content: ''
        position absolute
        bottom -5px
        right 20px
        width 10px
        height 10px
        background white
        border-radius 2px
        transform rotate(45deg)
        border-right 1px solid rgba(0, 0, 0, 0.12)
        border-bottom 1px solid rgba(0, 0, 0, 0.12)
        box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.14)     
  &__inner
    font-weight 700
    padding-left 6px
  &__buble
    display none
.chart
  width 50%
  &__h2
    padding-left 7px
    margin-bottom 18px
  &__pie-chart
    display flex
    flex-wrap wrap
  &__group
    position relative
    margin-left 5px
  &__info
    position absolute
    top 22%
    left 25%
    font-weight 700
    color perple
    display flex
    flex-direction column
    align-items center
    font-size 12px
    text-transform uppercase
  &__count
    font-size 24px
    font-family font-Quicksand
  &__legend 
    padding 30px 0 0 28px
  &__legend-item svg
    margin-right 5px