.details
  &__intro
    height 485px
    display flex
    flex-direction column
    flex-wrap wrap
    margin 0
    max-width: 100vw;
    overflow hidden
  &__gallery
    &--main
      height 100%
      width 68.5vw 
    &--up,
    &--low
      height 50%
    &--main,
    &--up,
    &--low
      overflow hidden
      margin -0.1px
      >img 
        width 100%
        height 100%
        object-fit cover
  &__columns
    display flex
    &-right,
    &-left
      width 50%
  &__boost
    display flex
.intelligence
  width 50%
.chart
  width 50%