.signin
  background url('/assets/img/background/intro-for-reg.png') -45px -70px no-repeat 
  height 702px 
  &__wrap
    padding-top 172px
  &__window
    margin 0 auto
    padding 39px 30px 0
    background white
    border-radius 4px
    width 380px
    height 358px
    border 1px solid rgba(0, 0, 0, 0.12)
    box-shadow 0px 0px 25px 0px #000000 20% 
  &__form,
  &__h1
    margin-bottom 20px
  &__input-mail
    margin-bottom 10px
  &__btn-ent
    margin-bottom 30px
  &__alter
    display flex
    justify-content space-between
  &__span
    padding-top 10px
    color dark_100
  &__btn-create
    width 99px