include ../header-navigation/header-navigation.pug 

- let foo = "javascript:void(0);"
- let navList = [{ title: "О нас", href: foo },{ title: "Услуги", href: foo, children: [{ title: "Баня и сауна", href: foo },{ title: "SPA-программа", href: foo },{ title: "Массаж", href: foo },{ title: "Бассейн", href: foo }] },{ title: "Вакансии", href: foo },{ title: "Новости", href: foo },{ title: "Соглашения", href: foo, children: [{ title: "Соглашение об обработке персональных данных", href: foo },{ title: "Публичная оферта", href: foo }] }]
  
 
header.header
  .container 
    .header__body
      +logoGroup("header__logo")
      .header__burger
        span
      nav.header__menu
        +headNavigation()
        .header__buttons
          +buttons("btn--border", "войти", "sign-in.html")
          +buttons("", "зарегистрироваться", "registred.html") 
        //-.header__buttons.header__buttons--user
          .header__user
            a.header__user-link(href="#") | Юлий Цезарь
       
        