@import "utils/layout"
@import "../../modules/buttons/buttons.styl"
@import "../../modules/input/input.styl"
@import "../../modules/calendar/calendar.styl"
@import "../../modules/hamburger-menu/hamburger-menu.styl"
@import "../../modules/dropdown-select-counters/dropdown-select-counters.styl"
@import "../../modules/header/header.styl"
@import "index.styl"
@import "../../modules/footer/footer.styl"
@import "registred.styl"
@import "sign-in.styl"
@import "rooms-filter.styl"
@import "room-details.styl"
@import "../../modules/filter-button/filter-button.styl"
@import "../../modules/checkbox/checkbox.styl"
@import "../../modules/range-slider/range-slider.styl"
@import "../../modules/total-calc-card/total-calc-card.styl"
@import "../../modules/donut-chart/donut-chart.styl"
@import "../../modules/reviews/reviews.styl"
@import "../../modules/room-card/room-card.styl"
@import "../../modules/display-rooms/display-rooms.styl"
@import "../../modules/paginator/paginator.styl"
@import "../../modules/stars-rating/stars-rating.styl"
@import "../../modules/date-dropdown/date-dropdown.styl"
@import "~material-design-icons/iconfont/material-icons.css"
@import '~@fortawesome/fontawesome-free/css/all.min.css'
@import '~nouislider/distribute/nouislider.css'
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
@import "~air-datepicker/dist/css/datepicker.css"