@import "utils/layout.styl"
@import "modules/buttons.styl"
@import "modules/inputs.styl"
@import "modules/calendar.styl"
@import "modules/header.styl"
@import "modules/home.styl"
@import "modules/footer.styl"
@import "modules/registred.styl"
@import "modules/sign-in.styl"
@import "modules/rooms-filter.styl"
@import "modules/room-details.styl"
@import "modules/dropdown-select-counters.styl"
@import "~material-design-icons/iconfont/material-icons.css"
@import '~@fortawesome/fontawesome-free/css/all.min.css'
@import '~nouislider/distribute/nouislider.css'
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
@import "~air-datepicker/dist/css/datepicker.css"
@import "~chart.js/dist/Chart.css"
