.registred
  background url(assets/img/background/intro-for-reg.png') -45px -70px no-repeat 
  height 684px 
  @media screen and (max-width: 360px)
    height 764px 
    background url(assets/img/background/intro-for-reg.png) no-repeat 
  &__wrap
    padding-top 19px
  &__window
    margin 0 auto
    padding 40px 30px 0
    background white
    border-radius 4px
    width 380px
    height 646px
    border 1px solid rgba(0, 0, 0, 0.12)
    box-shadow 0 0 25px rgba(0,0,0,.2)
    @media $phone
      width 100%
    @media screen and (max-width: 360px)
      height 700px 
  &__h1
    margin-bottom 20px
  &__input-name, 
  &__input-surname,
  &__input-mail
    margin-bottom 10px
  &__input-gender
    padding 0
    margin-bottom 19px
  &__input-birthday
    margin-bottom 16px
  &__input-password
    margin-bottom 6px
  &__input-toggle
    margin-bottom 22px
  &__pay
    margin-bottom 31px
  &__after
    display flex
    justify-content space-between
    align-items center
  &__btn-create
    width 99px
  &__span
    color dark_100
.radio
  display flex
  align-items flex-start
  &__label 
    margin -3px 20px 0 10px
    cursor pointer
    @media $phone
      margin 0 10px 0 5px
  &__dot
    appearance none
    border-radius 50%
    cursor pointer
    width 20px
    height 20px
    border: 1px solid dark_25
    transition 0.2s all linear
    &:checked
      border: solid 1px perple
      background perple-gradient
      background-origin border-box
      background-clip content-box, border-box
      box-shadow 0px 0px 0px 3px #fff inset
      & + .radio__label
        color dark_75 
.togglebox
  &__handle
    display none
    & + .togglebox__label 
      position: relative;
      padding-left 50px
      cursor: pointer;
      color dark_75
      @media $phone
        display block
      &::before 
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 40px;
        height: 20px;
        border 1px solid dark_25
        border-radius 10px
        transition: .2s;
      &::after 
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius 50%
        background dark_25
        transition: .2s
    &:checked + .togglebox__label
      &::after 
        background perple-gradient
        left 24px
      &::before
        border 1px solid perple